@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 33% 98%;
    --foreground: 222 44% 14%;
    --card: 0 0% 100%;
    --card-foreground: 222 44% 14%;
    --primary: 222 44% 14%;
    --primary-foreground: 40 33% 98%;
    --accent: 32 68% 52%;
    --accent-foreground: 222 44% 14%;
    --muted: 40 20% 93%;
    --muted-foreground: 222 15% 40%;
    --border: 40 15% 87%;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
}
